.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requirement-list {
  margin-left: 1rem;
  list-style-type: none;
}

.requirement {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  color: white;
  margin-right: 1rem;
}

.invalid {
  background-color: red;
}

.valid {
  background-color: green;
}